-# frozen_string_literal: true
= simple_form_for(@article, remote: true, html: {'v-on:ajax:error': 'errors_show'} ) do |f|
  %ul.errors{'v-if': 'errors.length'}
    %li{'v-for':'error in errors'}
      {{ error }}

  .form-inputs
    = f.input :title
    = f.input :body

  .form-actions
    = f.button :submit, class: 'btn-danger'
