@import "bootstrap_variables";
@import "bootstrap";
@import "module_variables";
@import "module/module";
@import "scaffolds";

#wrapper {
  @include container();
}
.errors {
  padding: 10px;
  display: inline-block;
  background: #ffbbbb;
  color: #aa0000;
}
